# Logs
Logs/*.log

# Temporary exports
Logs/*.csv
*.tmp
*.zip

# PowerShell module cache
*.psm1.bak

# Build outputs
dist/
dist-build-*/
dist-latest/
T3CHNRD'S Windows Tool Kit.exe
T3CHNRD'S Windows Tool Kit (updated).exe
Build/Installer/HarvestedFiles.wxs
