# Logs
Logs/*
!Logs/.gitkeep

# Temporary exports
*.tmp
*.zip
Integrations/Install-Microsoft365/

# PowerShell module cache
*.psm1.bak

# Build outputs
dist/
dist-build-*/
dist-latest/
T3CHNRD'S Windows Tool Kit.exe
T3CHNRD'S Windows Tool Kit (updated).exe
Build/Installer/HarvestedFiles.wxs

# Python cache
__pycache__/
*.pyc
